:root{
  --bg-color: #1a1a1a;
  --text-color: #f0f0f0;
  --accent-color: #6c63ff;
  --card-color: #2d2d2d;
  --danger-color: #ff4757;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
}

#form{
  display: flex;
  gap: 20px;

}

#input{
  flex: 1;
  padding: 12px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid #444;
  border-radius: 12px;
}

.addTodoBtn{
  padding: 12px;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.addTodoBtn:hover{
  box-shadow: 0 0 10px var(--accent-color);
  transition:0.1s;
}

.filterBtn{
  background-color: var(--card-color);
  padding: 12px;
  color: var(--text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  margin-top: 7px;
  border: none;
  margin-bottom: 10px;
}
.filterBtn:hover{
  box-shadow: 0 0 10px var(--accent-color);
  transition: 0.3s;
}

ul{
  list-style: none;
  padding: 0;
}

li{
  background-color: var(--card-color);
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.deleteTodoBtn{
  background-color: var(--danger-color);
  padding: 12px;
  border-radius: 2px;
  color: var(--text-color);
  border: none;
  cursor: pointer;
}
.deleteTodoBtn:hover{
  box-shadow: 0 0 10px var(--danger-color);
  transition: 0.1s;
}

@media (max-width: 480px) {
  body {
    padding: 20px;
  }

  #form{
    flex-direction: column;
  }
}
